RewriteEngine On
#AUTH
RewriteRule auth/logout$ auth.php?logout [L]
RewriteRule check-connected$ includes/verif_auth.php [L]
RewriteRule auth$ auth.php [L]
# GE
RewriteRule ge/users/([0-9]+)$ ge.php?id_user=$1 [L]
RewriteRule ge$ ge.php [L]
# USERS
RewriteRule users/([0-9]+)$ users.php?id=$1 [L]
RewriteRule users$ users.php [L]
# INSCRIPTIONS
RewriteRule inscriptions/([0-9]+)$ inscriptions.php?id=$1 [L]
RewriteRule inscriptions$ inscriptions.php [L]
# FORMATIONS
RewriteRule formations/([0-9]+)$ formations.php?id=$1 [L]
RewriteRule formations$ formations.php [L]
# METIERS
RewriteRule metiers/([0-9]+)$ metiers.php?id=$1 [L]
RewriteRule metiers$ metiers.php [L]
# LIEUX
RewriteRule lieux/([0-9]+)$ lieux.php?id=$1 [L]
RewriteRule lieux$ lieux.php [L]
# CRITERES EVALUATIONS
RewriteRule criteres-evaluations/metier/([0-9]+)$ criteres-evaluations.php?id_metier=$1 [L]
RewriteRule criteres-evaluations$ criteres-evaluations.php [L]